.header {
   background-image: url("../img/the-flatiron-building.png");
}

 body {
  font-family: Helvetica;
  text-align: center;
}

h1, h2, h3 {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.barheading {
  background-image: url("../img/the-flatiron-building.png");
}

.menu {
  font-size: 18px;
  color: white;
}


.footer {
  font-size: 11px
  color: white;
  background-color: dimgray;
  text-align: left !important;
}
